Flask==1.1.1
Flask-JWT-Extended==3.24.1
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.5.1
requests
psycopg2-binary==2.8.4
mysql-connector-python==8.0.32
gunicorn
PyMySQL==1.0.2
Jinja2==2.10.3
MarkupSafe==2.0.1
itsdangerous==2.0.1
Werkzeug==0.16.1
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.0
