<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>modelo</title>

    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css">

</head>


<body >
    <section  class="container">
        <h1> API FLASK VENDAS </h1>
        <main>
            <div class="buttons">
                    <a href="https://documenter.getpostman.com/view/25608627/2s946iaqNW" target="_blank"><button id="document" >Documentation</button></a>
                    <a href="https://github.com/thiago-ndev/APIFLASK_VENDAS" target="_blank"><button id="repository"> Repository </button></a>
            </div>
        </main>
    </section>

</body>
</html>